---
const {url, src, title, videosrc}= Astro.props;
---
<section class="ChetWillKillMeOneDay" data-src={videosrc}>

  <a href={url}>{title}</a>

<div class="Chet4Lyfe">
    <a href={url}><img src={src} alt={title}></a>
</div>

</section>

<script>

    // add an event listener - when mouse enters section video src changes
    // add a second event listener - replaces video source back to static
        const video = document.querySelector('.tvImg');

    const setSrc =(newSrc)=>{
        video?.setAttribute('src',newSrc)
        video?.play();
    }

    const clearSrc = ()=>{
        video?.removeAttribute('src')
        video.load();

    }

    const triggers = document.querySelectorAll('.ChetWillKillMeOneDay');
    triggers.forEach((trigger)=>{
        trigger.addEventListener('mouseenter',(e)=>{
            setSrc(e.target.dataset.src)
        })
        trigger.addEventListener('mouseleave',()=>{
           clearSrc();
        })
    })
</script>

<style>
.Chet4Lyfe:hover{
    filter: brightness(50%);
}
a{
 color: green;
 text-decoration: none;
 font-size: 25px;
}
img{
    width:500px;
}
.ChetWillKillMeOneDay{
    padding: 10px
}
</style>